/* Nav Bar Styling */

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  h1 {
    letter-spacing: 1px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    width: 35%;
   
  }
  
  a{
      text-decoration: none;
  }
  .background-image {
    height: 30vh;
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(137, 137, 228, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    
    }
  }
  