/* Nav Bar Styling */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #E9ECEF;
 }

h1 {
  letter-spacing: 0.75px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

/* Hero Section */
.background-image {
  background-color: rgb(119, 141, 169);  
  background-image: url("../images/back3.jpeg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: top;
  min-height: 35vh;
  padding: 2% 6%;
  /* opacity: 0.5;  */
}

.subtitle,
p {
  text-align: center;
  padding: 25px;
}

/* About Me Section */

.aboutme {
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  padding: 15px;
}

.me {
  padding: 25px;
  border-right: 3px solid black;

  float: right;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .aboutme,
  p {
    flex-direction: column;
    text-align: center;
  }
  .me {
    border-bottom: 2px solid black;
    border-right: 0;
    margin: 30px;
  }
  .background-image {
    min-height: 23vh;
  }
}
