/* Nav Bar Styling */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #e9ecef;
}

h1 {
  letter-spacing: 0.75px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

/* Hero Section */
.background-image {
  background-color: rgb(119, 141, 169);
  background-image: url("./images/back3.jpeg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: top;
  min-height: 35vh;
  padding: 2% 6%;
  /* opacity: 0.5;  */
}

.subtitle,
p {
  text-align: center;
  padding: 25px;
}

/* About Me Section */

.aboutme {
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  padding: 15px;
}

.me {
  padding: 25px;
  border-right: 3px solid black;
  float: right;
}

.workh1 {
  border-right: 3px solid black;
  float: right;
  padding: 31px;
}

/* Project Cards */

.proj-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projlinks {
  height: 40vh;
  flex-grow: 1;
  list-style: none;
  padding: 5px;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .aboutme,
  p {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .me {
    border-bottom: 2px solid black;
    border-right: 0;
    margin: 10px;
  }
  .background-image {
    min-height: 23vh;
  }
  .workh1 {
    margin: 10px;
    border-bottom: 2px solid black;
    border-right: 0;
    /* margin: 30px; */
    padding-top: 0px;
  }
  .proj-cards {
    flex-direction: column;
    width: 100%;
  }
  img {
    width: 75%;
    padding-right: 35px;
  }
  .projlinks {
    margin-right: 10px;
    min-height: 150px;
    max-height: 150px;
  }
}
